.products-container {
  background: #fff;
  display: flex;
  justify-content: center;
}

.products-container .products-card {
  max-width: 900px;
  width: 100%;
  padding: 80px 20px;
}

.products-container .products-card .product-card {
  display: flex;
  margin-bottom: 50px;
}

.products-container .products-card .product-card .product-avatar {
  width: 400px;
  height: 300px;
  margin-right: 20px;
  margin-top: 10px;
}

.products-container .products-card .product-card .product-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.products-container
  .products-card
  .product-card
  .product-description.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  display: block;
  color: #777;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .products-container .products-card .product-card {
    flex-direction: column;
  }

  .products-container .products-card .product-card > div:first-child {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .product-card .product-avatar {
    margin-right: 0 !important;
  }

  .product-title {
    text-align: center;
  }
}
