.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiles {
  max-width: 1000px;
  display: flex;
  flex-direction: column !important;
}

.profile {
  display: flex;
  margin-bottom: 80px;
  padding: 0 20px;
}

.profile .avatar {
  margin-top: 10px;
  margin-right: 20px;
}

.profile .detail-info .name {
  font-size: 30px;
  margin-bottom: 15px;
}

.profile .detail-info .post {
  color: #49b1e6;
  font-size: 20px;
  margin-bottom: 12px;
}

.profile .detail-info .detail.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  display: block;
  color: #777;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profiles .profile {
    flex-direction: column;
  }

  .profiles .profile .avatar {
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
  }

  .profiles .profile .detail-info .name,
  .profiles .profile .detail-info .post {
    text-align: center;
  }
}
